<table class='table'>
  <tr><%= image_tag user.get_profile_image, size: "100x100" %></tr>
  <tr>
	  <th>name</th>
	  <td><%= user.name %></td>
  </tr>
  <tr>
	  <th>introduction</th>
	  <td><%= user.introduction %></td>
  </tr>
  <tr>
    <th>follows</th>
    <td><%= link_to user.followings.count, user_followings_path(user) %></td>
  </tr>
  <tr>
    <th>followers</th>
    <td><%= link_to user.followers.count, user_followers_path(user) %></td>
  </tr>
</table>

<div class="row">
  <div class="col d-flex justify-content-between">
    <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    <% else %>
      <%= render "relationships/btn", user: user, options: { class: "" } %>
    <% end %>
  </div>
  <% if @user != current_user %>
    <% if (current_user.following?(@user)) && (@user.following?(current_user)) %>
      <% if @isRoom == true %>
        <%= link_to "チャットへ",  room_path(@roomId), class: "btn btn-primary" %>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field:user_id, value: @user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class: "btn btn-primary user-show-chat" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>